DATABASE_URL=postgresql+asyncpg://frota_user:frota_secret@127.0.0.1:5434/frota_db
SECRET_KEY=troque-esta-chave-em-producao
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=["https://frota.sirel.com.br"]
COOKIE_NAME=access_token
COOKIE_SECURE=true
APP_ENV=production
